<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.guangzhou.weiwong.accountbook">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".mvp.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".mvp.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mvp.view.LoginActivity"
            android:theme="@style/AppTheme.FullScreen">

        </activity>
        <activity
            android:name=".mvp.view.RegisterActivity"
            android:theme="@style/AppTheme.FullScreen" />
        <activity
            android:name=".mvp.view.PasterActivity"
            android:label="@string/title_activity_paster"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".mvp.view.ChartsActivity"
            android:label="@string/title_activity_charts"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mvp.view.DailyActivity"
            android:label="@string/title_activity_daily"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mvp.view.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mvp.view.GroupActivity"
            android:label="@string/title_activity_group"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".mvp.view.SettleActivity"
            android:label="@string/title_activity_settle"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".mvp.view.SplashActivity"
            android:label="@string/title_activity_splash"
            android:theme="@style/AppTheme.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
